<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>halt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>

<body>

<h1 style="text-align:center">Journey</h1>

<table id="fromToTable" style="width:100%">

    <tr>
        <th width="250">From</th>
        <td>
            <select id="fromHaltSelect">
                <option value="">select</option>
                <option class="option" th:each="halt : ${halts}" th:value="${halt.id}"
                        th:text="${halt.id}+' : '+${halt.name}"></option>
            </select>
        </td>
    </tr>

    <tr>
        <th>To</th>
        <td>
            <select id="toHaltSelect">
                <option value="">select</option>
                <option class="option" th:each="halt : ${halts}" th:value="${halt.id}"
                        th:text="${halt.id}+' : '+${halt.name}"></option>
            </select>
        </td>
    </tr>

</table>

<button id="startButton" style="text-align: center; margin: 5px 0px 30px 257px;">Start</button>

<table id="currentHaltTable" style="width:100%">

    <tr>
        <th width="250">Current halt</th>
        <td>
            <select id="currentHaltSelect" class="target">
                <option value="">select</option>
                <option class="option" th:each="halt : ${halts}" th:value="${halt.id}"
                        th:text="${halt.id}+' : '+${halt.name}"></option>
            </select>
        </td>
    </tr>

    <tr>
        <th>Next Halt</th>
        <td><label id="nextHalt"></label></td>
    </tr>

    <tr>
        <th>Previous Halt</th>
        <td><label id="previousHalt"></label></td>
    </tr>

</table>

<script>
    $(document).ready(function () {

        $("#currentHaltTable").hide();

        $("#startButton").click(function () {
            var fromHalt = $('#fromHaltSelect').find(":selected").text();
            console.log('fromHalt', fromHalt);
            var toHalt = $('#toHaltSelect').find(":selected").text();
            console.log('toHalt', toHalt);

            $("#currentHaltTable").show();

            var fromHaltId = parseInt(fromHalt.split(":")[0].trim());
            $("#currentHaltSelect").val(fromHaltId);

            setNextPreviousHalts(fromHaltId);
        });

        $("#currentHaltSelect").change(function () {
            var halt = $('#currentHaltSelect').find(":selected").text();
            console.log('halt', halt);
            var haltId = parseInt(halt.split(":")[0].trim());

            setNextPreviousHalts(haltId);

        });

        function setNextPreviousHalts(currentHaltId) {
            $.get("/journey/find/" + currentHaltId, function (data) {
                console.log('data', data);
                $("#nextHalt").text(data.nextHaltName);
                $("#previousHalt").text(data.previousHaltName);
            });
        }

    });
</script>

</body>
</html>

